// NAVBAR
section
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    .container
      a.navbar-brand(href='/') HATSAT
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor01' aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/products') Ürünler
          li.nav-item
            a.nav-link(href='/referances') Referanslar
          li.nav-item
            a.nav-link(href='/contact') İletişim
          li.nav-item
            a.nav-link(href='/about') Hakkımızda
        form.form-inline.my-2.my-lg-0
          //- input.form-control.mr-sm-2(type='text' placeholder='Search')
          //- button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
          - if(isAuth) {
            a.btn.btn-secondary.mx-2(href="logout") Logout
            a.btn.btn-secondary.mx-2(href="dashboard") Dashboard
            a.btn.btn-secondary.mx-2(href="iletisim") İletimiş İstekleri
          - } else {
            a.btn.btn-secondary.mx-2(href='login') Login
            a.btn.btn-secondary.mx-2(href="register") Register
          - }