.list-group
	a.list-group-item.list-group-item-action.active
		| web uygulama
	a.list-group-item.list-group-item-action(href='/news')
		| haberler
	a.list-group-item.list-group-item-action(href='/products')
		| Ürünler
	a.list-group-item.list-group-item-action(href='/referances')
		| Referanslar
	a.list-group-item.list-group-item-action(href='/contact')
		| İletişim
	a.list-group-item.list-group-item-action(href='/about')
		| Hakkında

	
