extends ../templates/base

block content
    .alert.alert-dismissible.alert-secondary.text-center
        h2 REFERANSLARIMIZ
    .row
        .card.border-primary.m-3(style='max-width: 24rem;')
            .card-body
                h4.card-title Google
                p.card-text Google, İnternet araması, çevrim içi bilgi dağıtımı, reklam teknolojileri ve arama motorları için yatırımlar yapan çok uluslu Amerikan anonim şirketidir. İnternet tabanlı hizmet ve ürünler geliştirir, ek olarak bunlara ev sahipliği yapar
                img.img-fluid(src="/img/google.png")
        .card.border-primary.m-3(style='max-width: 24rem;')
            .card-body
                h4.card-title Apple
                p.card-text IBM, merkezi Armonk, New York, ABD'de olan, dünyanın en büyük bilişim teknolojisi şirketidir. 410.000'i aşkın çalışanı ile 170'ten fazla ülkede faaliyet göstermektedir. Faaliyet gösterdiği alanlar arasında bilgisayar ve donanım üretimi, yazılım, servis hizmetleri, sunucu servisleri ve AR-GE bulunmaktadır.
                img.img-fluid(src="/img/apple.png")
        .card.border-primary.m-3(style='max-width: 24rem;')
            .card-body
                h4.card-title Microsoft
                p.card-text Microsoft Corporation, ABD merkezli bir çok uluslu teknoloji şirketidir. Bilgisayar yazılımları, elektronik cihazlar, kişisel bilgisayarlar ve bilişim hizmetleri geliştirir, üretir, lisanslar ve satar.
                img.img-fluid(src="/img/microsoft.png")
        .card.border-primary.m-3(style='max-width: 24rem;')
            .card-body
                h4.card-title IBM
                p.card-text Apple Inc. ya da eski adıyla Apple Computer, Inc., merkezi Cupertino'da bulunan; tüketici elektroniği, bilgisayar yazılımı ve kişisel bilgisayar tasarlayan, geliştiren ve satan Amerikan çok uluslu şirkettir.
                img.img-fluid(src="/img/ibm.png")
